@use 'bp' as *;

.page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;

    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--white);
    min-height: calc((608 / 1080) * 100vw);

    @include md {
        gap: 3rem;
        padding: 2rem 3rem;
        background-image: url('/images/boca-raton-day.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                180deg,
                rgba(0, 39, 33, 0.5) 0%,
                rgba(71, 59, 69, 0.5) 52%,
                rgba(219, 207, 156, 0.4) 100%
            );
            z-index: 0;
        }
    }
}

.heroImg {
    img {
        width: 100%;
        height: auto;

        @include md {
            display: none;
        }
    }
}

.text {
    max-width: 900px;
    margin: 0 auto;
    font-size: 18px;

    @include lg {
        font-size: 20px;
    }
}

.logo {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

    svg {
        width: 80%;
        height: auto;
        max-width: 300px;
    }

    @include md {
        padding-top: 0;
    }

    @include lg {
        svg {
            filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.2));
            max-width: 600px;
            min-width: 400px;
            width: 100%;
        }
    }
}

.intro {
    background-color: var(--white);
    color: var(--boca-navy);
    padding: 0 2rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include md {
        padding: 1rem 2rem;
    }

    @include md {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        z-index: 2;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        color: var(--boca-navy);
        padding: 2rem 3rem;
    }

    a {
        color: var(--boca-blue);
        transition: color 0.15s linear;

        &:hover {
            color: var(--boca-navy);
        }
    }
}

.ctas {
    display: flex;
    gap: 16px;
}

.ctas a {
    appearance: none;
    border-radius: 128px;
    height: 48px;
    padding: 0 20px;
    border: 1px solid transparent;
    transition: background 0.2s, color 0.2s, border-color 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

a.primary {
    background: var(--foreground);
    color: var(--background);
    gap: 8px;
}

a.secondary {
    border-color: var(--gray-alpha-200);
    min-width: 158px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 2rem;
    background-color: var(--boca-navy);
    color: var(--white);
}

.footer a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer img {
    flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    a.primary:hover {
        background: var(--button-primary-hover);
        border-color: transparent;
    }

    a.secondary:hover {
        background: var(--button-secondary-hover);
        border-color: transparent;
    }

    .footer a:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
}
