.button {
    background-color: var(--boca-navy);
    color: var(--white);
    border-radius: 6px;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s;
    height: 3rem;
    margin-top: 0.5rem;
}
